.brands__container {
	background-color: #F2F9FC;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 33px;
	padding-bottom: 30px;

	@media (min-width: $desktop-width) {
		padding-top: 40px;
		padding-left: 375px;
		padding-right: 375px;
		padding-bottom: 70px;
	}
}

.brands__title {
	@include reset();
	margin-bottom: 30px;
	font-size: 22px;
	font-weight: 300;
	letter-spacing: 0.02em;
	color: #000000;
	text-align: center;

	@media (min-width: $desktop-width) {
		font-weight: 300;
		font-size: 60px;
		line-height: 73px;
		letter-spacing: 0.02em;
		margin-bottom: 60px;
	}
}

.brands__list {
	@include reset-list();
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-bottom: 30px;

	@media (min-width: $desktop-width) {
		justify-content: flex-start;
		margin-bottom: 40px;
	}
}

.brands__item {
	position: relative;
	width: 130px;
	height: 60px;
	background-color: #ffffff;
	border-radius: 50px;
	margin-bottom: 15px;

	@media (min-width: $desktop-width) {
		width: 150px;
		height: 60px;
		margin-right: 45px;
		margin-bottom: 35px;
	}
}

.brands__icon {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.brands__button {
	background-color: #ffffff;
	color: $blue;
	font-weight: 600;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-left: 30px;
	padding-right: 30px;
}

.brands__text--bold {
	@include reset();
	margin-top: 40px;
	margin-bottom: 20px;
	font-weight: bold;
	font-size: 20px;
	line-height: 27px;
	text-align: left;

	@media (min-width: $desktop-width) {
		padding-left: 228px;
		width: 315px;
	}
}

.brands__text {
	@include reset();
	margin-bottom: 20px;
	text-align: left;

	@media (min-width: $desktop-width) {
		padding-left: 228px;
		width: 544px;
	}
}

.brands__text:last-of-type {
	margin-bottom: 10px;
}

.brands__text--mobile {
	@media (min-width: $desktop-width) {
		display: none;
	}
}

.brands__accent {
	color: $blue;
	font-weight: bold;
}