.contacts {
	font-size: 15px;
}

.contacts__text {
	@include reset();
	margin-bottom: 15px;

	&:last-of-type {
		margin-bottom: 0;
	}
}

.contacts__list {
	@include reset-list();
	font-size: 18px;
	font-weight: 600;
}

.contacts__item {
	margin-bottom: 5px;
}

.contacts__time-work {
	display: block;
	margin-top: 5px;
	font-size: 18px;
	font-weight: 600;
}

.contacts__email {
	color: #222222;
	text-decoration: none;
	font-weight: 600;
}