.garanty {
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 40px;

	@media (min-width: $desktop-width) {
		padding-left: 406px;
		padding-right: 337px;
		padding-bottom: 144px;
	}
}

.garanty__icon {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 17px;

	@media (min-width: $desktop-width) {
		margin-left: 0;
	}
}

.garanty__title {
	@include reset();
	margin-bottom: 20px;
	font-size: 20px;
}

.garanty__text {
	@include reset();
	margin-bottom: 30px;

	@media (min-width: $desktop-width) {
		width: 544px;
		margin-bottom: 0;
	}
}

.garanty__text:last-of-type {
	margin-bottom: 10px;

	@media (min-width: $desktop-width) {
		margin-bottom: 0;
	}
}

.garanty__text--accent {
	color: $blue;
	font-weight: bold;
}

.garanty__container {
	@media (min-width: $desktop-width) {
		display: flex;
		justify-content: space-between;
	}
}