.logo {
	display: block;
	margin: 0;
	padding-top: 0;
	font-size: 0;
	line-height: 0;
}

.logo__image {
	display: block;
	width: 95px;
	height: 25px;

	@media (min-width: $tablet-more-width) {
		width: 210px;
		height: 55px;
	}

	@media (min-width: $br-960) {
		width: 150px;
		height: auto;
	}

	@media (min-width: 1400) {
		width: 210px;
		height: 55px;
	}
}