.page-footer {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
	padding-bottom: 15px;
	background-color: #CCEDFF;
}

.page-footer__logo {
	display: block;
	margin-bottom: 30px;
}

.page-footer__socials {
	font-size: 15px;
}
