.page-main {
	padding-bottom: 40px;
}

.page-main__wrapper {
	@media (min-width: $desktop-width) {
		background-image: url("../img/bg-5-desktop.jpg");
		background-repeat: no-repeat;
		background-position: right bottom 200px;
	}
}