.page-main {
	padding-bottom: 40px;
}

.page-main__wrapper {
	padding-bottom: 30px;
	
	@media (min-width: $tablet-more-width) {
		background-image: url("../img/bg-5-desktop.jpg");
		background-repeat: no-repeat;
		background-position: right bottom 200px;
		background-size: cover;
	}
}