.review__container {
	display: flex;
	justify-content: space-between;
	margin-bottom: 5px;

	@media (min-width: $desktop-width) {
		margin-bottom: 18px;
	}
}

.review__slide {
	position: relative;
	padding-top: 148px;

	&::after {
		@include pseudo();
		@include sprite(-20px, -902px, 85px, 68px);
		top: 45px;
		left: 50%;
		transform: translateX(-50%);
	}	
	
	@media (min-width: $desktop-width) {
		padding-top: 148px;
	}
}

.review__slide--center {

	@media (min-width: $desktop-width) {
		padding-top: 224px;
		padding-left: 35px;
		padding-right: 35px;
	}
}

.review__author {
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	text-align: left;

	@media (min-width: $desktop-width) {
		font-size: 14px;
	}
}

.review__author--center {
	@media (min-width: $desktop-width) {
		font-size: 20px;
	}
}

.review__date {
	font-size: 15px;
	color: #979797;
}

.review__text {
	@include reset();
	text-align: left;
}

.review__text--mobile {
	@media (min-width: $desktop-width) {
		display: none;
	}
}

.review__text--desktop {
	display: none;
	
	@media (min-width: $desktop-width) {
		display: block;
	}
}