.reviews {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 40px;
	padding-bottom: 80px;
	text-align: center;
}

.reviews__title {
	@include reset();
	font-weight: 300;
	font-size: 22px;
	line-height: 27px;
	text-align: center;
	margin-bottom: 30px;
}

.reviews__list {
	@include reset-list();
}

.reviews__slider {
	margin-bottom: 30px;
}

.reviews__button {
	width: auto;
	padding-left: 31px;
	padding-right: 31px;
	margin-left: auto;
	margin-right: auto;
	color: $blue;
	font-weight: 600;
}