.slider__slide {
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 20px;
	padding-bottom: 20px;
	box-shadow: 0px 10px 35px rgba(32, 73, 86, 0.1), 
	0px 10px 10px rgba(0, 0, 0, 0.17);
	border-radius: 8px;
	background-color: #ffffff;
	text-align: left;
}

.slider__slide--desktop {
	display: none;

	@media (min-width: $desktop-width) {
		display: block;
		width: 250px;
	}
}

.slider__slide--center {
	@media (min-width: $desktop-width) {
		width: 542px;
		padding-top: 30px;
		padding-left: 35px;
		padding-right: 37px;
		padding-bottom: 36px;
	}
}

.slider__container {
	display: flex;
	justify-content: space-between;
	margin-bottom: 5px;
}

.slider__pagination {
	display: flex;
	justify-content: space-between;
	width: 133px;
	height: 13px;
	margin-top: 25px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 30px;
}

.slider__pagination-item {
	display: block;
	width: 13px;
	height: 13px;
	border-radius: 50%;
	background-color: #DFDFDF;
	cursor: pointer;
}

.slider__pagination-item--active {
	background-color: $blue;
}

.slider__arrows {
	width: 135px;
	display: flex;
	justify-content: space-between;
	font-size: 0;
	margin-left: auto;
	margin-right: auto;
}

.slider__arrow {
	display: block;
	position: relative;
	width: 60px;
	height: 60px;
	border: 0;
	box-shadow: 0px 4px 6px rgba(50, 50, 93, 0.11), 
	0px 1px 3px rgba(0, 0, 0, 0.08);
	border-radius: 8px;
	background-color: #ffffff;
	cursor: pointer;

	&::before {
		@include pseudo();
		width: 25px;
		height: 25px;
		border-top: 2px solid #222222;
		border-left: 2px solid #222222;
	}
}

.slider__arrow--left {
	&::before {
		top: 16px;
		left: 24px;
		transform: rotate(-45deg);
	}
}

.slider__arrow--right {
	&::before {
		top: 16px;
		left: 12px;
		transform: rotate(135deg);
	}
}

.slider__list {
	@include reset-list();

	@media (min-width: $desktop-width) {
		display: flex;
		justify-content: space-between;
		margin-bottom: 40px;
		align-items: center;
	}
}