.video {
	text-align: center;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 40px;
	padding-bottom: 40px;

	@media (min-width: $desktop-width) {
		padding-top: 70px;
		padding-left: 178px;
		padding-right: 178px;
		padding-bottom: 70px;
	}
}

.video__title {
	@include reset();
	margin-bottom: 30px;
	font-weight: 300;
	font-size: 22px;

	@media (min-width: $desktop-width) {
		margin-bottom: 60px;
		font-weight: 300;
		font-size: 60px;
		line-height: 73px;
		letter-spacing: 0.02em;
	}
}

.video__button {
	width: auto;
	padding-left: 31px;
	padding-right: 31px;
	margin-left: auto;
	margin-right: auto;
	color: $blue;
	font-weight: 600;
	background-color: #ffffff;
}

.video__subtitle {
	@include reset();
	margin-bottom: 15px;
	text-align: left;
	font-size: 20px;
	line-height: 27px;
}

.video__subtitle--mobile {
	@media (min-width: $desktop-width) {
		display: none;
	}
}

.video__subtitle--desktop {
	display: none;
	
	@media (min-width: $desktop-width) {
		display: block;
	}
}

.video__wrapper {
	text-align: left;
	display: flex;
	justify-content: space-between;
	font-size: 15px;
	color: #979797;
}

.video__slider {
	margin-bottom: 30px;
}

.video__videofile {
	width: 100%;
  	height: auto;
  	max-height: 100%;
}