$blue: #00bffe;
$mobile-width: 320px;
$tablet-small-width: 560px;
$tablet-width: 769px;
$tablet-more-width: 770px;
$desktop-width: 1920px;
$small-desktop-width: 1200px;
$smaller-desktop-width: 1367px;
$mobile-only-width: 769px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
$blue-hover: #05B2EB;
$light-grey: #F2F9FC;
$disabled-bg: #DEDEDE;
